<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item information</title>
    <style>
        a{margin-left: 5px;}
    </style>
</head>
<body>
    <h1> Item information </h1>
    <p> Item id: <%= item.id %> </p>
    <p> Item name: <%= item.item %> </p>
    <p> Item quantity: <%= item.qty %> </p>
    <a href="/inventory/<%= item.id %>/edit"> Edit Item </a>
    <a href="/inventory"> Back to inventory </a>
</body>
</html>